@model JGwebTienda.Models.JGadornos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JGadornos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JGName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JGName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JGnavideno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JGnavideno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JGprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JGprice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JGadornosId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
